@import url(header.css);
@import url(menu.css);
@import url(mobile.css);
@import url(offer.css);

body {
  font-family: "Rubik";
  font-weight: normal;
  font-style: normal;
}
.video {
  text-align: center;
  background-color: #f8f8f8;
}
.solutions {
  text-align: center;
}
.goal {
  background: linear-gradient(to left, #e0ffff 0%, #e6e6fa 100%);
}
.partners {
  display: flex;
  justify-content: space-between;
}
footer {
  background-color: black;
  color: white;
}
