body {
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
}
.offer {
  background-image: url(../assets/main_image.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding: 5% 0 5% 0;
}
.video {
  text-align: center;
  background-color: #f8f8f8;
}
.solutions {
  text-align: center;
}
.goal {
  background: linear-gradient(to left, #e0ffff 0%, #e6e6fa 100%);
}
.partners {
  display: flex;
  justify-content: space-between;
}
footer {
  background-color: black;
  color: white;
}
