@import url(normalize.css);
@import url(header.css);
@import url(menu.css);
@import url(offer.css);
@import url(video.css);
@import url(solution.css);

body {
  font-family: "Rubik";
  font-weight: normal;
  font-style: normal;
}
.gradient{
   background: -o-linear-gradient(45deg, #6a11cb 33%, #2575fc 66%, #8aa9d6);
  background: linear-gradient(45deg, #6a11cb 33%, #2575fc 66%, #8aa9d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #2575fc;
}
.solutions {
  text-align: center;
}
.goal {
  background: -webkit-gradient(linear, right top, left top, from(#e0ffff), to(#e6e6fa));
  background: -o-linear-gradient(right, #e0ffff 0%, #e6e6fa 100%);
  background: linear-gradient(to left, #e0ffff 0%, #e6e6fa 100%);
}
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer {
  background-color: black;
  color: white;
}