.video {
  text-align: center;
  background-color: #f8f8f8;
  padding: 5% 0 5% 0;
}
.video-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.03em;
  padding: 0 0 5% 0;
}
.player {
  position: relative;
}
.play-icon {
  position: absolute;
  left: 47%;
  top: 4%;
}
.sound-icon {
  position: absolute;
  top: 10%;
  left: 85%;
}
